@charset "utf-8";
#menu {
	position: absolute;
	height: 49px;
	width: 445px;
	padding: 0px;
	overflow: visible;
	float: right;
	margin: 0px;
	clear: none;
	text-align: center;
	margin-left: 100px;
	margin-top:20px;
}
#menu li {
	float: left;
	list-style: none;
	
}
/* .lavaLamp li.up {
	background:#06F;
	width: 9px;
	height: 2px;
	z-index: 8;
	position: absolute;
	margin-top: 26px;
}*/

#menu li a {
	position: relative;
	overflow: hidden;
	text-decoration: none;
	text-transform: uppercase;
	font: bold 14px/29px arial;
	color: #000;
	outline: none;
	
	text-align: center;
	height: 30px;
	z-index: 10;
	letter-spacing: 0;
	float: left;
	display: block;
	margin: auto 5px;
	font-family:"微软雅黑";
	width:60px;
}

#info div{
	background: #FF0000;
	width: 0px;
	height: 0px;
	overflow: hidden;
	margin-left: 26px;
	}
#com_g{ 
	border-right:3px solid #FFFFCC;
	border-bottom:3px solid #300;
	border-left:3px solid #FFFFCC;
}

#com_s{
	width: 59px;
	height: 3px;
	background-color: #300;
}

#com_main {
	width: 59px;
	position: absolute;
	margin-left: 6px;
	margin-top: 25px;
	overflow:hidden;
}
